.contact {
    padding: 100px;
    background: #162c3b;
    text-align: center;
}

.imgBx2 {
    background: url(../assets/bg3.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}

.redbg {
    background: url(../assets/red2.jpg) !important;
    background-size: cover;
    background-position: center;
}

.form .inputBx {
    margin-bottom: 40px;
}

.form .inputBx input,
.form .inputBx textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: $white;
    border-bottom: 2px solid $white;
}

.form .inputBx input::placeholder,
.form .inputBx textarea::placeholder {
    color: $white;
}

.form .inputBx textarea {
    min-height: 150px;
}

.form .inputBx input[type="submit"] {
    width: 150px;
    background: $white;
    color: #162c3b;
    cursor: pointer;
    font-weight: 500;

    &:hover {
        background: #162c3b;
        color: $white;
        border-radius: 10px;
        transition: .5s;
    }
} 